@use "sass:math";

@use "./mixins" as *; /* load without namespace for convenience */

$cubeHeight: 220px;
$cubeWidth: 202px;
$faceSize: math.div($cubeWidth, 2);

%cube-background {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(../../static/img/mirage.gif) 0 0 repeat;
  background-size: 8.25rem 9.75rem;

  @include size-medium-down {
    background-size: 4.125rem 4.875rem;
  }
}

.cube {
  position: relative;
  height: $cubeHeight;
  width: $cubeWidth;

  @include size-medium-down {
    height: math.div($cubeHeight, 2);
    width: math.div($cubeWidth, 2);
  }
}

.cube__segment--right,
.cube__segment--left,
.cube__segment--top {
  position: absolute;
  height: $faceSize;
  width: $faceSize;

  @include size-medium-down {
    height: math.div($faceSize, 2);
    width: math.div($faceSize, 2);
  }

  &::before {
    @extend %cube-background;
  }
}

.cube__segment--top {
  // $left: 65px;
  // $top: 11px;

  $left: 50px;
  $top: 8px;

  -webkit-transform: skew(60deg, -30deg) scale(1, -0.575);
  -moz-transform: skew(60deg, -30deg) scale(1, -0.575);
  -o-transform: skew(60deg, -30deg) scale(1, -0.575);
  -ms-transform: skew(60deg, -30deg) scale(1, -0.575);
  transform: skew(60deg, -30deg) scale(1, -0.575);

  left: $left;
  top: $top;

  @include size-medium-down {
    left: math.div($left, 2);
    top: math.div($top, 2);
  }
}

.cube__segment--left {
  $left: -1px; // 0px;
  $top: 88px; //115px;

  // $width: 130px;
  // $height: 146px;

  -webkit-transform: skew(0deg, 30deg);
  -moz-transform: skew(0deg, 30deg);
  -o-transform: skew(0deg, 30deg);
  -ms-transform: skew(0deg, 30deg);
  transform: skew(0deg, 30deg);

  left: $left;
  top: $top;
  // width: $width;
  // height: $height;

  @include size-medium-down {
    top: math.div($top, 2);
    // width: math.div($width, 2);
    // height: math.div($height, 2);
  }
}

.cube__segment--right {
  // $left: 131px;
  // $top: 115px;
  $left: 101px;
  $top: 88px;
  // $width: 130px;
  // $height: 146px;

  -webkit-transform: skew(0deg, -30deg);
  -moz-transform: skew(0deg, -30deg);
  -o-transform: skew(0deg, -30deg);
  -ms-transform: skew(0deg, -30deg);
  transform: skew(0deg, -30deg);

  left: $left;
  top: $top;
  // width: $width;
  // height: $height;

  @include size-medium-down {
    left: math.div($left, 2);
    top: math.div($top, 2);
    // width: math.div($width, 2);
    // height: math.div($height, 2);
  }
}
