// font stacks
$font-system-sans: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
  sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
$font-body: "Roboto", sans-serif;
$font-header: "Roboto", sans-serif;
$font-accent: "Share Tech Mono", monospace;
$font-mono: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
  "Courier New", monospace;
$font-serif: "Times New Roman", Times, "Georgia", serif;

// widths
$width-wide: 1200px;
$width-max-content: 1125px;

// colors
$color-babyblue: #6ef4fa;
$color-babypink: #e083f6;
$color-brightlime: #75f86a;
$color-brightsalmon: #ff6f6f;
$color-cirrus: #c5ddef;
$color-darksmoke: #333333;
$color-deepsmoke: #212121;
$color-fadedsky: #5da8d2;
$color-hotpink: #e83adc;
$color-keylargo: #31cde7;
$color-lightgreen: #83e5a4;
$color-lilac: #4952a5;
$color-litesmoke: #939393;
$color-offwhite: #fafafa;
$color-purple: #742f9e;
$color-royal: #076ad2;
$color-sunny: #f5f650;
$color-wiltedlilac: #828092;

$color-primary: #3c6b7e;
$color-primary-hover: #2498bd;
$color-background-page: #f8fafd;
$color-background-primary: #ffffff;
$color-background-secondary: #f4f4f4;
$color-border-primary: #c3d6dc;
$color-border-secondary: #e3e3e3;
$color-shadow-primary: rgba(102, 136, 160, 0.1);

$colors: (
  "babyblue": $color-babyblue,
  "babypink": $color-babypink,
  "brightlime": $color-brightlime,
  "brightsalmon": $color-brightsalmon,
  "cirrus": $color-cirrus,
  "darksmoke": $color-darksmoke,
  "deepsmoke": $color-deepsmoke,
  "fadedsky": $color-fadedsky,
  "hotpink": $color-hotpink,
  "keylargo": $color-keylargo,
  "lightgreen": $color-lightgreen,
  "lilac": $color-lilac,
  "litesmoke": $color-litesmoke,
  "offwhite": $color-offwhite,
  "purple": $color-purple,
  "royal": $color-royal,
  "sunny": $color-sunny,
  "wiltedlilac": $color-wiltedlilac,
);

// breakpoints (via bootstrap)
$bp-sm: 576px !default;
$bp-md: 768px !default;
$bp-lg: 992px !default;
$bp-xl: 1200px !default;
