name: Publish
on:
  push:
    tags:
      - '*'

jobs:
  publish:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup node
        uses: actions/setup-node@v2
        with:
          node-version: "14.17.0"

      - name: Setup SSH to install dependencies
        uses: webfactory/ssh-agent@v0.5.0
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Install dependencies
        run: npm ci
      
      - name: Compile contracts
        run: npm run compile

      - name: Run tests
        run: npm test

      - name: Inject slug/short variables
        uses: rlespinasse/github-slug-action@v3.x
   
      - name: Publish to NPM
        uses: JS-DevTools/npm-publish@v1
        if: ${{ startsWith(github.ref, 'refs/tags/') }}
        with:
          token: ${{ secrets.NPM_ACCESS_TOKEN }}
          access: "public"
