name: Slither

on:
  push:
    branches: [master]
    paths:
      - "contracts/**"
      - ".github/workflows/slither.yml"
  pull_request:
    branches: 
      - "*"
    paths:
      - "contracts/**"

env:
  ETH_NODE_URL: ${{ secrets.ETH_NODE_URL }}

jobs:
  slither:
    name: Slither Analysis
    runs-on: ubuntu-20.04

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup node
        uses: actions/setup-node@v2
        with:
          node-version: "16.3.0"

      - name: Setup SSH to install dependencies
        uses: webfactory/ssh-agent@v0.5.0
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Install NPM dependencies
        run: npm ci

      - name: Setup Python 3.7
        uses: actions/setup-python@v2
        with:
          python-version: 3.7

      - name: Install Slither
        run: |
          python -m pip install --upgrade pip
          pip3 install slither-analyzer==0.8.2 solc-select==0.2.1
      
      - name: Summary of static analysis
        run: |
          slither . --print human-summary

      - name: High/Med/Low issues
        run: |
          slither . --config-file slither.config.json
