name: Test

on:
  push:
    branches:
      # long-lived branches
      - master
  pull_request_target:
    branches:
      - "*"

jobs:
  test:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup node
        uses: actions/setup-node@v2
        with:
          node-version: "14.17.0"

      - name: Setup SSH to install dependencies
        uses: webfactory/ssh-agent@v0.5.0
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Install dependencies
        run: npm ci

      - name: Run Linter
        run: npm run lint

      - name: Compile Solidity Contracts
        run: npm run compile

      - name: Run Tests
        run: npm test
